input/*
!input/.gitkeep
output/*
!output/.gitkeep
models/*
!models/.gitkeep
log.txt
drive_dev/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db